/* Archives */

.blog,
.category,
.tag {

	.entry {
		border-radius: $base-border-radius;
		margin-bottom: space(m);
		padding: space(s);

		@extend %box-shadow;
	}

	.post-image {
		display: block;

		&.aligncenter {
			margin-bottom: space(s);
		}
	}
}
