/**
* Footer
*
*	- Common
*	- Footer Widgets
*	- Site Footer
*/

/* Common */

.footer-widgets,
.site-footer {
	clear: both;
	text-align: center;

	@extend %font-size-s;

	a {
		text-decoration: none;
	}
}

/* Footer Widgets */

.footer-widgets {
	padding: space(divider, m);

	@extend %box-shadow-top;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include mq($from: tablet) {
			flex-wrap: nowrap;
		}
	}

	.widget-title {
		text-align: center;
	}

	.footer-widget-area {
		margin-bottom: space(m);
		padding: space(column, s);
		width: 100%;
		text-align: left;

		&:last-of-type {
			margin-bottom: 0;
		}

		@include mq($from: tablet) {
			flex-basis: 0;
			flex-grow: 1;
			margin-bottom: 0;
		}
	}
}

/* Site Footer */

.site-footer {
	background: color(dark, strong);
	color: color(light, strong);
	padding: space(divider, m);

	p {
		color: color(light, strong);
		margin-bottom: 0;

		a {
			color: color(light, strong);
			margin-bottom: 0;

			&:focus,
			&:hover {
				color: color(light, soft);
			}
		}
	}
}
