/* Sidebar */

.sidebar {
	display: none;
	margin: space(stack, m);

	@extend %font-size-s;

	@include mq($from: tablet) {
		display: block;
	}

	.widget {
		margin: space(stack, m);

		&.widget_search {
			margin: space(stack, s);
		}

		&:first-of-type {
			margin-top: space(xs);
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		.widget-title {
			margin: space(stack, s);

			@extend %font-size-l;
		}

		ul {

			li {
				margin-bottom: 0;

				ul {
					padding: space(left, xs);
				}

				> a {
					color: color(dark, base);
					font-weight: 700;
					text-decoration: none;

					&:focus,
					&:hover {
						color: color(accent, base);
					}
				}
			}

			&.menu {

				li {
					padding-bottom: space(xs);

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
