/* Blocks Editor Container */

.block-editor__container {

	@media (min-width: 600px) { // Fix editor position on 600px width.
		top: 46px;
	}

	@include mq($from: phone) {
		top: 0;
	}
}

// Align editor width with front end.

.editor-styles-wrapper {
	background-color: color(light, soft);
	font-family: $base-font-sans;
	font-weight: 400;
	margin: 0 auto;
	padding: space(m) space(m) space(l); // Keep space for the inserter/mover buttons.
	width: 100%;

	@extend %font-size-m;

	.is-fullscreen-mode & {
		padding-left: space(s);
		padding-right: space(s);

		@include mq($from: tablet) {
			padding-left: space(m);
			padding-right: space(m);
		}
	}
}
