/**
* Blocks Front-end
*
*	- Alignment
*	- Preformatted
*	- Paragraph
*	- Color Palette
*	- Buttons
*	- Lists
*	- Categories
*	- Tables
*	- Separators
*	- Quotes
*	- Columns
*	- Images
*	- Gallery
*	- Cover Image
*	- File
*	- Media Text
*/

/* --------- Still under development --------- */

/* Alignment */

.full-width-content {

	.alignfull,
	.alignwide {

		// Cover Image
		&.wp-block-cover {
			width: 100vw;
		}

		// Video
		&.wp-block-video {

			video {
				width: 100vw;
			}
		}

	}

	.alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		max-width: 100vw;
	}

	.alignwide {
		margin-left: calc(50% - 50vw + 2rem);
		margin-right: calc(50% - 50vw + 2rem);
		max-width: calc(100vw - 4rem);

		@include mq($from: phone) {
			margin-left: calc(50% - 50vw + 4rem);
			margin-right: calc(50% - 50vw + 4rem);
			max-width: calc(100vw - 8rem);
		}
	}
}

.content-sidebar,
.sidebar-content {

	.alignfull {
		width: 100%;
	}
}

/* Preformatted */
pre.wp-block-preformatted {
	font-family: $base-font-mono;
	overflow: scroll;

	@extend %font-size-s;
}

/* Paragraph */

p {

	&.has-background,
	&.has-box-shadow {
		padding: space(xs);
	}

	&.has-drop-cap:not(:focus)::first-letter {
		line-height: line-height(drop-cap);
		font-size: 7rem;
		margin: 0 0.5rem 0 0;
	}

	&.has-drop-cap:not(:focus)::after {
		padding-top: 0;
	}

	&.has-small-font-size {

		@extend %font-size-s;

		&.has-drop-cap:not(:focus)::first-letter {
			line-height: line-height(drop-cap-s);
			font-size: 4rem;
		}

		&.s-break {

			@include mq($from: tablet) {
				line-height: line-height(xs); // Break the vertical rhythm.
			}
		}
	}

	&.has-medium-font-size {

		@extend %font-size-l;

		&.has-drop-cap:not(:focus)::first-letter {
			line-height: line-height(drop-cap-l);
			font-size: 7rem;
		}

		&.m-break {

			@extend %font-size-l-break; // Break the vertical rhythm.

			&.has-drop-cap:not(:focus)::first-letter {
				line-height: line-height(drop-cap-l-break);
				font-size: 9rem;
			}
		}
	}

	&.has-large-font-size {

		@extend %font-size-xl;

		&.has-drop-cap:not(:focus)::first-letter {
			line-height: line-height(drop-cap-xl);
			font-size: 7rem;
		}

		&.l-break {

			@extend %font-size-xl-break; // Break the vertical rhythm.

			&.has-drop-cap:not(:focus)::first-letter {
				line-height: line-height(drop-cap-xl-break);
				font-size: 9rem;
			}
		}
	}

	&.has-huge-font-size {

		@extend %font-size-xxl;

		&.has-drop-cap:not(:focus)::first-letter {
			line-height: line-height(drop-cap-xxl);
			font-size: 12rem;
			margin-right: 0.75rem;
			margin-top: 0.5rem;
		}
	}
}

/* Color Palette */
// Keep in synch with values defined in lib/blocks/blocks-setup.php

$color-palette: (
	accent: color(accent, base),
	white: color(light, soft),
	light: color(light, base),
	grey: color(light, strong),
	dark: color(dark, soft),
	black: color(dark, base),
	info: color(info, base),
	danger: color(danger, base),
	success: color(success, base),
	warning: color(warning, base),
	star: color(star, base),

	// Additional colors
	dark-strong: color(dark, strong),
	accent-soft: color(accent, soft),
	accent-strong: color(accent, strong),
	info-soft: color(info, soft),
	info-strong: color(info, strong),
	danger-soft: color(danger, soft),
	danger-strong: color(danger, strong),
	success-soft: color(success, soft),
	success-strong: color(success, strong),
	warning-soft: color(warning, soft),
	warning-strong: color(warning, strong),
	star-soft: color(star, soft),
	star-strong: color(star, strong),
);

@each $name, $color in $color-palette {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}

	.has-#{$name}-gradient {
		background-image: linear-gradient(200deg, lighten($color, $color-shade-amount), $color, darken($color, $color-shade-amount));
	}
}

.has-text-color,
.has-background {

	a {

		&:focus,
		&:hover {
			color: inherit;
		}
	}
}

/* Buttons */

.wp-block-button {
	margin-bottom: space(s);

	.wp-block-button__link {
		border: none;
		border-radius: $base-border-radius;
		cursor: pointer;
		font-weight: 700;
		padding: space(inset-squish, xs);
		text-align: center;
		text-decoration: none;
		transition: all $base-transition;
		white-space: normal;
		min-width: space(xl);

		@extend %font-size-s;

		&:focus,
		&:hover {
			opacity: 1;

			@extend %box-shadow-buttons;
		}
	}

	.has-text-color {

		@each $name, $color in $color-palette {

			&.has-#{$name}-color {

				&:focus,
				&:hover {
					color: $color;
				}
			}
		}
	}

	&.is-style-outline,
	&.is-style-small-outline {

		.wp-block-button__link {
			border: 1px solid;
			background-color: color(light, soft);
			color: color(dark, base);

			&.has-text-color,
			&.has-background {

				@each $name, $color in $color-palette {

					&.has-#{$name}-color {
						color: $color;
					}

					&.has-#{$name}-background-color {
						background-color: $color;
					}
				}
			}
		}
	}

	&.is-style-small,
	&.is-style-small-outline {

		.wp-block-button__link {
			min-width: space(l);
			padding: space(inset-squish, xxs);

			@extend %font-size-xs;
		}
	}
}

/* Lists */

.content {

	.entry-content {

		ul {

			&.wp-block-archives,
			&.wp-block-categories,
			&.wp-block-latest-posts {
				list-style: none;
				margin-bottom: space(m);
				padding: 0;

				ul {
					margin: space(divider, xs);
					padding: 0;
				}

				li {
					font-family: $base-font-serif;
					list-style: none;

					> a {
						color: color(dark, base);
						font-family: $base-font-serif;
						font-weight: 700;
						text-decoration: none;

						&:focus,
						&:hover {
							color: color(accent, base);
						}
					}
				}

				&.alignleft {
					margin-right: space(s);

					ul {
						padding-left: 1em;
					}
				}

				&.alignright {
					margin-left: space(s);

					ul {
						padding-left: 1em;
					}
				}
			}

			&.wp-block-latest-posts {

				li {
					border-bottom: 1px solid color(border);
					margin-bottom: calc(2rem - 1px); // Compensate border.
					padding-bottom: space(s);
				}
			}

			&.wp-block-gallery {
				padding-left: 0;
			}
		}
	}
}

/* Tables */

.wp-block-table {

	&.alignwide {
		width: calc(100vw - 4rem);
	}

	&.alignfull {
		width: 100vw;
	}

	&.is-style-stripes {
		border-bottom: none;
		border-top-color: transparent;
	}
}

/* Separators */

.wp-block-separator {

	&:not(.is-style-dots),
	&:not(.is-style-empty),
	&:not(.is-style-wide) {
		max-width: 25%;
	}

	&.is-style-dots,
	&.is-style-empty,
	&.is-style-wide {
		max-width: 100%;
	}

	&.is-style-dots {
		line-height: line-height(m);
		margin: space(divider, s);

		&::before {
			float: left;
			font-size: 2rem;
			line-height: line-height(m);
			margin: 0 auto;
			width: 100%;
		}
	}

	&.is-style-empty {
		border: none;
		height: space(s);
		margin: space(stack, s);
		padding: 0;
	}
}

/* Quotes */

.wp-block-pullquote,
.wp-block-quote {

	p {
		font-weight: 700;

		@extend %font-size-l;
	}

	cite {
		display: block;
	}
}

.wp-block-quote {

	&.is-style-large,
	&.is-large {
		margin: space(divider, s);
		padding: 0;

		p {

			@extend %font-size-xl;
		}

		cite,
		footer {

			@extend %font-size-s;
		}
	}
}

.wp-block-pullquote {
	border-bottom: 2px solid color(dark, base);
	border-top: 2px solid color(dark, base);
	padding: space(column, m);
	margin: space(stack, s);

	blockquote {
		margin-bottom: calc(2rem - 2px); // Compensate bottom border width.
		margin-top: calc(2rem - 2px); // Compensate top border width.

		&::before {
			display: none;
		}
	}

	&.alignleft,
	&.alignright {
		border: none;
		margin: space(stack, s);
		max-width: 100%;
		padding: 0;

		@include mq($from: phone) {
			max-width: 200px;
		}

		@include mq($from: tablet) {
			max-width: 350px;
		}

		blockquote {
			margin: 0;
		}

		p {

			@extend %font-size-l;
		}
	}

	&.alignleft {
		text-align: left;

		@include mq($from: tablet) {
			margin-right: space(s);
			margin-left: -25%;
		}
	}

	&.alignright {
		text-align: right;

		@include mq($from: tablet) {
			margin-left: space(s);
			margin-right: -25%;
		}
	}

	&.is-style-solid-color {
		border: none;
		margin-bottom: space(m);
		margin-top: space(m);
		padding-bottom: space(m);
		padding-top: space(m);

		blockquote {
			margin: 0 auto;

			p {
				margin: space(stack, xs);

				@extend %font-size-l;
			}

			cite {
				text-transform: uppercase;
			}
		}
	}
}

/* Columns */

.wp-block-columns {
	flex-wrap: wrap;

	@include mq($from: tablet) {
		flex-wrap: nowrap;
	}

	.wp-block-column {
		margin-left: 0;
		margin-bottom: space(s);

		&:last-child {
			margin-bottom: 0;
		}

		@include mq($from: phone) {
			flex-basis: calc(50% - 1rem);

			&:nth-child(even) {
				margin-left: space(s);
			}

			&:last-child,
			&:nth-last-child(2) {
				margin-bottom: 0;
			}
		}

		@include mq($from: tablet) {
			margin-bottom: 0;

			&:not(:first-child) {
				margin-left: space(s);
			}
		}

		@include mq($until: phone) {

			.wp-block-columns {

				> .wp-block-column {

					&:last-child {
						margin-bottom: 0; // Remove margin bottom on nested columns.
					}
				}
			}
		}
	}

	&.has-3-columns {

		@include mq($from: phone) {
			flex-wrap: nowrap;
		}

		.wp-block-column {

			@include mq($from: phone) {
				margin-bottom: 0;

				&:not(:first-child) {
					margin-left: space(s);
				}
			}
		}
	}
}

/* Images */

.wp-block-image {
	margin-bottom: space(s);

	&.alignleft {
		margin-right: space(s);
	}

	&.alignright {
		margin-left: space(s);
	}

	figcaption {
		color: color(dark, soft);
		margin: space(divider, xxs); // Break verticat rhythm.
		text-align: center;

		@extend %font-size-s;
	}
}

/* Gallery */

.wp-block-gallery {

	.blocks-gallery-image,
	.blocks-gallery-item {

		figcaption {
			color: color(light, soft);
			padding: space(s) space(xs) space(xs);

			@extend %font-size-s;
		}
	}
}

/* Cover Image */

.wp-block-cover__inner-container,
.editor-inner-blocks {

	.wp-block-cover-image &,
	.wp-block-cover & {
		width: calc(100% - 6rem);
		color: color(light, base);

		// stylelint-disable
		// Fix no-descending-specificity for p selector
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {

			&.has-text-color {

				@each $name, $color in $color-palette {

					&.has-#{$name}-color {
						color: $color;
					}
				}
			}
		}
		// stylelint-enable
	}
}

/* File */

.wp-block-file {

	.wp-block-file__button {
		border: none;
		border-radius: $base-border-radius;
		cursor: pointer;
		font-weight: 700;
		height: 3rem; // Break vertical rhythm.
		min-width: space(l);
		padding: space(inset-squish, xxs);
		text-align: center;
		text-decoration: none;
		transition: all $base-transition;
		white-space: normal;

		@extend %font-size-xs;

		&:focus,
		&:hover {
			opacity: 1;

			@extend %box-shadow-buttons;
		}
	}
}

/* Media Text */

.wp-block-media-text {

	.wp-block-media-text__media {

		@include mq($until: tablet) {
			margin-bottom: space(s);
		}
	}
}
