/**
* Blocks Editor
*
*	- Common
*	- Post Title
*	- Lists
*	- Tables
*	- Code
*	- Columns
*	- Components Panel
*		- Buttons
*		- Separators
*/

/* Common */

.editor-block-list__layout {
	padding: 0;

	> .block-editor-block-list__block {

		> .block-editor-block-list__block-edit {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.wp-block {
	border: none;
	color: color(dark, base);
	font-family: $base-font-serif;
	max-width: none;

	@extend %font-size-m;
}

/* Post Title */

.editor-post-title {
	margin-top: -6px; // Keep space for the permalink editor.
	padding: 0;

	@include mq($from: tablet) {
		margin-top: -20px; // Subtract the post title input padding.
	}

	.editor-post-title__block {
		padding-top: 0;
		padding-bottom: 0;

		.editor-post-title__input {
			border-right-width: 1px; // Fix right border.
			color: color(dark, strong);
			font-family: $base-font-sans;
			margin-bottom: space(s);
			padding-left: 14px;
			padding-right: 14px;

			@extend %font-size-xxl;

			@include mq($until: tablet) {
				border-right-width: 1px; // Fix right border.
			}
		}

		.editor-post-permalink {

			@media (max-width: 599px) { // Fix permalink editor position.
				left: 3px;
			}
		}
	}
}

/* Lists */

.block-library-list {

	ol,
	ul {
		margin-left: 0;
		padding-left: 1em;

		&.block-editor-rich-text__editable {
			margin: space(stack, s);
		}
	}

	ol {

		> li {
			list-style-type: decimal;
		}
	}

	ul {

		> li {
			list-style-type: disc;

			> ul {

				> li {
					list-style-type: circle;
				}
			}
		}
	}
}

/* Tables */

.wp-block-table {

	td {
		border-top: none;
	}
}

.wp-block-table__cell-content {
	padding: 0;
}

/* --------- Development --------- */


/* Block Code */

.wp-block-code {
	background-color: color(light, base);
	font-family: $base-font-mono;
	padding: space(xs);

	@extend %font-size-s;

	.editor-plain-text {
		background-color: color(light, base);
		font-family: $base-font-mono;

		@extend %font-size-s;
	}
}

/* Columns */

// Need work.
.wp-block-columns {

	> .block-editor-inner-blocks {

		> .block-editor-block-list__layout {

			> [data-type="core/column"] {

				> .block-editor-block-list__block-edit {

					> div {

						> .block-editor-inner-blocks {

							margin-top: 0;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

/* Components Panel */

&.editor-block-preview__content {

	/* Buttons */
	.wp-block-button {
		left: 50%;
		top: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
	}

	/* Separators */
	.wp-block-separator {
		margin-left: auto;
		margin-right: auto;

		&.is-style-dots,
		&.is-style-empty {
			margin-bottom: 0;
			margin-top: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&.is-style-dots {

			&::before {
				letter-spacing: 0.8em;
				padding-left: 0.8em;
			}
		}
	}
}
