/* Front Page Template */

.home {

	.site-inner {
		padding-top: 0;

		.content {
			margin-bottom: 0;

			> .entry {
				margin-bottom: 0;

				.entry-content {
					margin-bottom: 0;
				}
			}
		}
	}
}
