/* Column Classes */

@include mq($from: tablet) {

	.one-half,
	.one-third,
	.one-fourth,
	.one-fifth,
	.one-sixth,
	.one-seventh,
	.one-eighth,
	.two-thirds,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-seventh,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.three-sevenths,
	.three-eighths,
	.four-fifths,
	.four-sixths,
	.four-sevenths,
	.five-sixths,
	.five-sevenths,
	.five-eighths,
	.six-sevenths,
	.seven-eighths {
		float: left;
		margin-left: $margin-left;
	}

	.one-half,
	.three-sixths,
	.two-fourths,
	.four-eighths {
		width: $one-half;
	}

	.one-third,
	.two-sixths {
		width: $one-third;
	}

	.four-sixths,
	.two-thirds {
		width: $two-thirds;
	}

	.one-fourth,
	.two-eighth {
		width: $one-fourth;
	}

	.three-fourths,
	.six-eighths {
		width: $three-fourths;
	}

	.one-fifth {
		width: $one-fifth;
	}

	.two-fifths {
		width: $two-fifths;
	}

	.three-fifths {
		width: $three-fifths;
	}

	.four-fifths {
		width: $four-fifths;
	}

	.one-sixth {
		width: $one-sixth;
	}

	.five-sixths {
		width: $five-sixths;
	}

	.two-sevenths {
		width: $two-sevenths;
	}

	.three-sevenths {
		width: $three-sevenths;
	}

	.four-sevenths {
		width: $four-sevenths;
	}

	.five-sevenths {
		width: $five-sevenths;
	}

	.six-sevenths {
		width: $six-sevenths;
	}

	.three-eighths {
		width: $three-eighths;
	}

	.five-eighths {
		width: $five-eighths;
	}

	.seven-eighths {
		width: $seven-eighths;
	}

	.first {
		clear: both;
		margin-left: 0;
	}
}
