/* Gallery */

.gallery {
	overflow: hidden;

	img {
		transition: all $base-transition;
	}

	.gallery-item {
		float: left;
		margin: space(stack, s);
		text-align: center;

		img {
			height: auto;
			padding: space(xxs);
		}
	}

	&.gallery-columns-1 {

		figure.gallery-item {
			width: 100%;
		}
	}

	&.gallery-columns-2 {

		figure.gallery-item {
			width: 50%;
		}
	}

	&.gallery-columns-3 {

		figure.gallery-item {
			width: 33.3333%;
		}
	}

	&.gallery-columns-4 {

		figure.gallery-item {
			width: 25%;
		}
	}

	&.gallery-columns-5 {

		figure.gallery-item {
			width: 20%;
		}
	}

	&.gallery-columns-6 {

		figure.gallery-item {
			width: 16.6666%;
		}
	}

	&.gallery-columns-7 {

		figure.gallery-item {
			width: 14.2857%;
		}
	}

	&.gallery-columns-8 {

		figure.gallery-item {
			width: 12.5%;
		}
	}

	&.gallery-columns-9 {

		figure.gallery-item {
			width: 11.1111%;
		}
	}
}

.gallery-columns-2 figure.gallery-item:nth-child(2n+1),
.gallery-columns-3 figure.gallery-item:nth-child(3n+1),
.gallery-columns-4 figure.gallery-item:nth-child(4n+1),
.gallery-columns-5 figure.gallery-item:nth-child(5n+1),
.gallery-columns-6 figure.gallery-item:nth-child(6n+1),
.gallery-columns-7 figure.gallery-item:nth-child(7n+1),
.gallery-columns-8 figure.gallery-item:nth-child(8n+1),
.gallery-columns-9 figure.gallery-item:nth-child(9n+1) {
	clear: left;
}
