/* Root */

html {
	box-sizing: border-box;
	overscroll-behavior: none;
	overflow-x: hidden;
	font-size: root-font-size(phone);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	@include mq($from: tablet) {
		font-size: root-font-size(tablet);
	}
}

* {
	box-sizing: inherit;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	background-color: color(light, soft);
	color: color(dark, strong);
	font-family: $base-font-sans;
	font-weight: 400;
	margin: 0;
	min-height: 100%;
	overscroll-behavior: none;
	z-index: 99;

	@extend %font-size-m;

	> div { // Chrome fix.

		@extend %font-size-m;
	}
}
