/* Titles */

.entry-title,
.pagination-previous,
.pagination-next,
.widget-title {
	color: color(dark, strong);

	> a {
		color: color(dark, base);
		text-decoration: none;

		&:focus,
		&:hover {
			color: color(accent, base);
		}
	}
}

.archive-title,
.entry-title,
.page-title {
	padding-top: space(s);
	text-align: center;
}

.has-featured-image {

	.entry-title {
		padding-top: 0;
	}
}

.content-sidebar,
.sidebar-content {

	@include mq($from: tablet) {

		.archive-title,
		.entry-title,
		.page-title {
			text-align: left;
		}
	}
}
