/**
* Typography
*
*	- Typographical Elements
*	- Headings
*/

/* Typographical Elements */

a {
	color: color(success, base);
	text-decoration: none;
	transition: $base-transition;

	&:focus,
	&:hover {
		color: inherit;
	}

	&.post-edit-link {
		clear: both;
		float: left;
		padding: space(divider, xs);

		@extend %font-size-s;
	}
}

p,
dl,
dd,
pre {
	margin: space(stack, s);
	padding: 0;
}

p {

	&.s-break {
		margin-bottom: space(xs);
	}
}

code,
pre {
	color: color(dark, base);
	font-family: $base-font-mono;

	@extend %font-size-s;
}

code {
	background-color: color(light, base);
}

dt {
	font-weight: 700;
}

ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		margin-bottom: 0;
	}
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid color(border);
	clear: both;
	margin-top: space(s);
	margin-bottom: calc(2rem - 1px); // Compensate border.
}

b,
strong {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

mark {
	background: color(star, base);
	color: color(dark, strong);
}

blockquote {
	font-family: $base-font-serif;
	margin: space(divider, m);
	position: relative;

	&::before {
		content: "\201C";
		left: -0.5em;
		top: -0.5em;
		position: absolute;
		display: block;

		@extend %font-size-xxl;
	}

	p {
		margin: space(stack, xs);
	}
}

cite,
label,
.small {

	@extend %font-size-s;
}

cite {
	font-family: $base-font-sans;
	font-style: normal;
	text-transform: uppercase;
}

label {

	.required {
		color: color(danger, soft);
	}
}

.small {

	&.s-break {

		@include mq($from: tablet) {
			line-height: line-height(xs); // Break the vertical rhythm.
		}
	}
}

caption {
	margin: space(stack, s);

	@extend %font-size-s;
}

i,
.dashicons,
.ion {
	height: auto;
	text-decoration: none;
	vertical-align: middle;
	width: auto;

	@extend %font-size-xl;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: color(dark, strong);
	font-family: $base-font-serif;
	font-weight: 700;
	margin: space(stack, s);
}

h1 {

	@extend %font-size-xxl;
}

h2 {

	@extend %font-size-xl;
}

h3 {

	@extend %font-size-l;
}

h4 {

	@extend %font-size-m;
}

h5 {

	@extend %font-size-s;
}

h6 {

	@extend %font-size-xs;
}
