/**
* Content Area
*
*	- Content
*		- Entry
*		- Pagination
*		- Comments
*	- Entry Meta
*/

/* Content
--------------------------------------------- */

.content {

	// Entry
	.entry {
		margin: space(stack, m);

		.entry-content {

			p {

				&:last-child {
					margin-bottom: 0;
				}
			}

			ol,
			ul {
				margin-bottom: space(s);
				margin-left: space(m);
			}

			ol {

				> li {
					list-style-type: decimal;
				}

				ol {
					margin-bottom: 0;
				}
			}

			ul {

				> li {
					list-style-type: disc;
				}

				ul {
					margin-bottom: 0;
				}
			}

			code {
				background-color: color(light, base);
			}

			.caption {
				font-weight: 700;
				margin-top: -(space(s));
				text-align: center;

				@extend %font-size-s;
			}
		}

		&.sticky {
			background-color: color(light, base);
			padding: space(s);
		}
	}

	// Pagination
	.pagination {
		clear: both;
		margin: space(divider, m);

		&.archive-pagination {

			ul li {
				display: inline;

				a {
					background-color: color(light, base);
					color: color(dark, base);
					cursor: pointer;
					display: inline-block;
					font-weight: 700;
					margin: space(stack, xxs);
					padding: space(inset-squish, xxs);
					text-decoration: none;

					@extend %font-size-s;

					&:hover,
					&:focus {
						background-color: color(dark, base);
						color: color(light, soft);
					}
				}

				&.active {

					a {
						background-color: color(dark, base);
						color: color(light, soft);
					}
				}
			}
		}

		&.adjacent-entry-pagination {
			margin-bottom: 0;
		}
	}

	// Comments
	.entry-comments,
	.comment-respond,
	.entry-pings {
		margin: space(stack, m);

		@include mq($from: tablet) {
			margin: space(stack, m);
		}
	}

	.entry-comments {

		ol.comment-list {

			li {
				margin: space(stack, s);
				padding: space(left, s);

				&.depth-1 {
					margin: space(stack, m);
					padding: 0;
				}

				article {
					background: color(light, trans);
					border-radius: $base-border-radius;
					margin: space(stack, s);
					padding: space(s);

					.comment-header {
						margin-bottom: space(s);

						p {
							margin-bottom: 0;
						}
					}

					.comment-content {
						clear: both;

						ul {

							> li {
								list-style-type: disc;
							}
						}
					}

					.comment-meta,
					.comment-edit-link,
					.comment-reply {

						@extend %font-size-s;
					}
				}
			}
		}
	}

	.comment-respond {

		label {
			display: block;
		}

		.comment-form-author,
		.comment-form-email {
			float: left;
			margin-left: $margin-left;
			width: $one-half;
		}

		.comment-form-author {
			clear: both;
			margin-left: 0;
		}

		.comment-form-cookies-consent {
			float: left;
			clear: both;

			input,
			label {
				display: inline-block;
			}

			input {
				margin-right: space(xs);
				vertical-align: middle;
			}
		}
	}

	.entry-pings {

		.reply {
			display: none;
		}
	}
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	margin-bottom: 0;

	@extend %font-size-s;
}

.entry-header {

	.entry-meta {
		margin: space(stack, s);
	}
}

.entry-footer {

	.entry-meta {
		border-top: 1px solid color(border);
		padding-top: space(s);
	}
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link {

	&::before {
		content: "\2014";
		margin: 0 6px 0 2px;
	}
}
