/**
* Footer
*
*	- Footer Widgets
*	- Site Footer
*/

/* Footer Widgets */

.footer-widgets {
	background-color: #fff;
	clear: both;
	padding: space(divider, m);

	@extend %box-shadow-default;

	.footer-widget-area {
		margin-bottom: space(m);
		padding: space(column, s);

		&:last-of-type,
		.widget:last-of-type {
			margin-bottom: 0;
		}

		@include mq($from: tablet) {
			float: left;
			margin-bottom: 0;
			width: calc(100% / 3);
		}
	}
}

/* Site Footer */

.site-footer {
	background-color: color(light, soft);
	margin: space(stack, s);
	padding: space(s) 0;
	text-align: center;

	@extend %font-size-s;

	p {
		margin-bottom: 0;
		padding: space(column, s);
	}
}
