/**
* Footer
*
*	- Footer Widgets
*	- Site Footer
*/

/* Footer Widgets
--------------------------------------------- */

.footer-widgets {
	background-color: #fff;
	clear: both;
	padding: space(divider, m);

	@extend %box-shadow-default;

	.wrap {
		margin-left: auto;
		margin-right: auto;

		@include mq($from: tablet) {

			max-width: breakpoint(desktop);
		}

		.footer-widget-area {
			margin-bottom: space(m);
			padding: space(column, s);

			&:last-of-type,
			.widget:last-of-type {
				margin-bottom: 0;
			}

			@include mq($from: tablet) {
				float: left;
				margin-bottom: 0;
				width: calc(100% / 3);
			}
		}
	}
}

/* Site Footer
--------------------------------------------- */

.site-footer {
	background-color: color(light, soft);
	padding: space(m) 0 space(s);
	text-align: center;

	@extend %font-size-s;

	.wrap {

		@include mq($from: tablet) {
			max-width: breakpoint(desktop);
			margin: 0 auto;
		}
	}

	p {
		margin-bottom: 0;
		padding: space(column, s);
	}
}
