/**
* Footer
*
*	- Footer Widgets
*	- Site Footer
*/

/* Footer Widgets */

.footer-widgets {
	background-color: #fff;
	clear: both;
	padding: space(divider, m);

	@extend %box-shadow;

	.wrap {
		display: flex;
		flex-wrap: wrap;

		@include mq($from: tablet) {
			flex-wrap: nowrap;
		}
	}

	.footer-widget-area {
		margin-bottom: space(m);
		padding: space(column, s);

		&:last-of-type,
		.widget:last-of-type {
			margin-bottom: 0;
		}

		@include mq($from: tablet) {
			flex-basis: 0;
			flex-grow: 1;
			margin-bottom: 0;
		}
	}
}

/* Site Footer */

.site-footer {
	background-color: color(light, soft);
	padding: space(s) 0;
	text-align: center;

	@extend %font-size-s;

	p {
		margin-bottom: 0;
		padding: space(column, s);
	}
}
