/**
* Header
*
*	- Site Header
*	- Title Area
*/

/* Site Header */

.site-header {
	background-color: color(light, soft);

	@extend %box-shadow-default;

	@include mq($from: tablet) {
		padding: space(column, s);
		position: fixed;
		width: 100%;
		z-index: 9999;

		.wrap {
			max-width: breakpoint(desktop);
			margin: 0 auto;
		}
	}

	.genesis-responsive-menu {
		padding-left: space(s);
		padding-right: space(s);

		@include mq($from: tablet) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.menu-toggle {
		float: right;
		padding-right: space(s);

		@include mq($from: tablet) {
			padding-right: 0;
		}
	}
}

/* Title Area */

.title-area {
	float: left;
	padding: space(left, s);

	@include mq($from: tablet) {
		padding: 0;
	}
}

.site-title {
	font-family: $base-font-sans;
	font-weight: 700;
	margin-bottom: 0;
	padding: space(divider, s);

	@extend %font-size-l;

	a {
		text-decoration: none;
		color: color(dark, strong);
	}
}

.wp-custom-logo {

	.title-area {
		float: none;
		text-align: center;
		margin-top: space(xs);
		max-width: 350px;
		height: 6rem;
		padding: space(xxs);

		@include mq($from: small-phone) {
			float: left;
			margin-top: 0;
			text-align: inherit;
			padding: space(xxs) 0  space(xxs) space(s);
		}

		@include mq($from: tablet) {
			padding: space(divider, xxs);
		}

		img {
			max-height: 100%;
			width: auto;
		}
	}
}

.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
