/**
* Navigation
*
*	- Site Navigation
*	- Responsive Menu
*	- Footer Menu
*	- Header Menu
*/

/* Site Navigation
--------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	width: 100%;

	a {
		color: color(dark, base);
		display: block;
		font-family: $base-font-sans;
		outline-offset: -1px;
		padding-bottom: space(xxs);
		padding-top: space(xxs);
		text-decoration: none;

		@extend %font-size-s;

		&:focus,
		&:hover {
			color: color(accent, base);
			text-decoration: none;
		}
	}

	.sub-menu {
		clear: both;
		display: none;
		left: -9999px;
		margin: 0;
		opacity: 1;
		padding-left: space(xs);
		position: static;
		width: 100%;
		z-index: 99;

		@include mq($from: tablet) {
			border-top: 1px solid color(border);
			opacity: 0;
			padding-left: 0;
			position: absolute;
			width: 180px;

			.sub-menu {
				margin: -(space(m)) 0 0 179px;
			}
		}

		a {
			background: color(light, soft);
			position: relative;
			padding-right: 3rem;
			width: 100%;
			word-wrap: break-word;

			@include mq($from: tablet) {
				border: 1px solid color(border);
				border-top: 0;
				line-height: line-height(xs);
				padding-right: 0;
				width: 180px;
			}

		}
	}

	.menu-item {
		display: block;
		float: none;
		position: relative;

		&:hover > .sub-menu,
		&.sfHover > ul.sub-menu,
		a:focus + ul.sub-menu {
			left: auto;
			opacity: 1;
		}

		&.current-menu-item {

			> a {
				color: color(accent, base);
				text-decoration: none;
			}
		}

		@include mq($from: tablet) {
			display: inline-block;

			&.menu-bold {

				> a {
					font-weight: 700;
				}
			}

			&.menu-highlight {
				margin-left: 1.5rem;

				> a {
					background: color(dark, base);
					border-radius: $base-border-radius;
					color: color(light, soft);
					font-weight: 700;
					margin: 0;
					padding: 0.5rem, 1.5rem;
					transition: all $base-transition;

					&:focus,
					&:hover {
						box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.1), 0 2rem 2rem rgba(0, 0, 0, 0.1);
						opacity: 1;
					}
				}
			}
		}
	}
}

/* Responsive Menu
--------------------------------------------- */

.js {

	nav {
		display: none; // Prevent responsive menu flashing on mobile.

		&.nav-secondary {
			display: block;
		}

		@include mq($from: tablet) {
			display: block;
		}
	}
}

.menu-toggle {
	float: none;
	height: auto; // Prevent height of default buttons.
	margin: 0 auto;
	padding: space(s) 0;
	position: relative;
	z-index: 1000;

	&::before {
		float: left;
		margin-right: 5px;
		position: relative;
	}

	&.activated::before {
		content: "\f335";
	}

	@include mq($from: small-phone) {
		float: right;
	}
}

.sub-menu-toggle {
	float: right;
	padding: space(xs);
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;

	&::before {
		display: inline-block;
		text-rendering: auto;
		transform: rotate(0);
		transition: transform 0.25s ease-in-out;
	}

	&.activated::before {
		transform: rotate(180deg);
	}
}

.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: color(dark, base);
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;

	@extend %font-size-s;

	&:focus,
	&:hover {
		background-color: transparent;
		box-shadow: none; // Prevent box shadow of default buttons.
		color: color(accent, base);
	}

	&::before {
		font-size: 2rem;
		height: auto;
		line-height: line-height(s);
		text-rendering: auto;
		width: auto;
	}

	@include mq($from: tablet) {
		display: none;
		visibility: hidden;
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	padding: 1.5rem 0;

	.genesis-nav-menu {

		.menu-item {
			display: inline-block;

			> a {
				margin: 0 1.5rem;

				@include mq($from: tablet) {
					margin: 0;
					padding: space(xxs) 1.5rem;
				}
			}
		}
	}
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;

	@include mq($from: tablet) {
		clear: none;
		float: right;
		padding-bottom: space(xs);
		padding-top: space(xs);
		width: auto;
	}

	.genesis-nav-menu {
		padding-bottom: space(xs);

		@include mq($from: small-phone) {
			padding-top: space(xs);
		}

		@include mq($from: tablet) {
			padding: 0;
		}

		.menu-item {

			> a {
				padding-bottom: space(xs);
				padding-top: space(xs);

				@include mq($from: tablet) {
					padding: space(xs) 1.5rem;
				}
			}

			&.menu-highlight {

				> a {

					@include mq($from: tablet) {
						margin: space(divider, xxs);
						padding: space(xxs) 1.5rem;
					}
				}
			}
		}
	}
}
