/* Sidebar */

.sidebar {
	display: none;
	margin: space(stack, m);

	@extend %font-size-s;

	@include mq($from: tablet) {
		display: block;
	}

	.widget {
		margin: space(stack, l);

		&.widget_search {
			margin: space(stack, s);
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		.widget-title {
			border-bottom: 1px solid;
			padding-bottom: calc(2rem - 1px); // Compensate bottom border.
		}

		ul {

			li {
				margin-bottom: 0;

				ul {
					padding: space(left, xs);
				}

				> a {
					color: color(dark, base);
					font-family: $base-font-sans;
					font-weight: 700;
					text-decoration: none;

					&:focus,
					&:hover {
						color: color(accent, base);
					}
				}
			}
		}
	}
}
