/**
* Widgets
*
*	- Global Widgets
*		- Widget Calendar
*/

/* Global Widgets
--------------------------------------------- */

.widget {

	margin: space(stack, m);

	p {

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {

		li {
			border: 0;
			margin: space(left, s);
			padding: 0;
		}
	}

	ol {

		> li {
			list-style-position: inside;
			list-style-type: decimal;
			padding-left: space(s);
			text-indent: -(space(s));
		}
	}

	ul {

		li {
			margin: space(stack, s);

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	/* Widget Calendar */

	&.widget_calendar {

		table {
			border-spacing: space(xxs);
			font-family: $base-font-sans;
			margin-bottom: 1.5rem; // Compensate table bottom border spacing.

			&:last-of-type {
				margin-bottom: -(space(xxs)); // Compensate last table bottom border spacing.
			}

			caption {
				margin-bottom: 1.5rem; // Compensate table top border spacing.
			}

			td,
			th {
				border: 0;
				text-align: center;
				padding: calc(1rem - 0.25rem) 1rem calc(1rem - 0.25rem); // Compensate inner border spacing.
			}

			td {
				background: color(light, trans);
			}

			th {
				background: color(light, base);
			}
		}
	}
}
