/**
* @extend
*
* 	- Font Sizes
* 	- Box Shadow
*/

/* Font Sizes
--------------------------------------------- */

%font-size-xxl {
	font-size: font-size(phone, xxl);
	line-height: line-height(xxl);

	@include mq($from: tablet) {
		font-size: font-size(tablet, xxl);
	}
}

%font-size-xl {
	font-size: font-size(phone, xl);
	line-height: line-height(xl);

	@include mq($from: tablet) {
		font-size: font-size(tablet, xl);
	}
}

%font-size-l {
	font-size: font-size(phone, l);
	line-height: line-height(l);

	@include mq($from: tablet) {
		font-size: font-size(tablet, l);
	}
}

%font-size-m {
	font-size: font-size(phone, m);
	line-height: line-height(m);

	@include mq($from: tablet) {
		font-size: font-size(tablet, m);
	}
}

%font-size-s {
	font-size: font-size(phone, s);
	line-height: line-height(s);

	@include mq($from: tablet) {
		font-size: font-size(tablet, s);
	}
}

%font-size-xs {
	font-size: font-size(phone, xs);
	line-height: line-height(xs);

	@include mq($from: tablet) {
		font-size: font-size(tablet, xs);
	}
}

/* Box Shadow
--------------------------------------------- */
%box-shadow-default {

	@include box-shadow (0, 0, 20px, rgba(0, 0, 0, 0.05), false);
}

%box-shadow-dark {

	@include box-shadow (0, 2px, 2px, color(dark, trans), false);
}

%box-shadow-light {

	@include box-shadow (0, 0, 2px, color(light, base), false);
}

%box-shadow-buttons {

	box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.1), 0 2rem 2rem rgba(0, 0, 0, 0.1);
}
