/**
* Helper Classes
*
*	- Box Shadow
*	- Border Radius
*	- Centering
*	- Content Wrap
*	- Featured Icons
*	- Flexbox
*	- Full Height
*	- Margins
*	- Paddings
*	- Visibility
*/

/* Box Shadow */

.has-box-shadow {

	@extend %box-shadow;
}

.image-has-box-shadow {

	img {

		@extend %box-shadow;
	}
}

.has-box-shadow-hover {

	@extend %box-shadow;

	&:focus,
	&:hover {

		@extend %box-shadow-hover;
	}
}

/* Border Radius */

.has-border-radius {
	border-radius: $base-border-radius;
}

/* Centering */

.center {
	text-align: center;
}

.center-x {
	margin-left: auto;
	margin-right: auto;
}

/* Content Wrap */

.content-wrap {

	@include mq($from: tablet) {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 65%;
	}
}

/* Featured Icons */

.dashicons,
.ion {

	&.featured-icon {
		font-size: 3rem;
		margin-bottom: space(xs);
		text-shadow: 0.1em 0.1em 0 color(shadow);
		text-rendering: optimizeLegibility;
	}
}

/* Flexbox */

.flex-align-baseline {
	display: flex;
	align-items: baseline;
}

.flex-align-center {
	display: flex;
	align-items: center;
}

.flex-align-stretch {
	display: flex;
	align-items: stretch;
}

/* Full Height */

.has-full-height {

	min-height: calc(100vh - 6rem);

	.admin-bar & {

		@include mq($until: admin-bar) {
			min-height: calc(100vh - 6rem - 46px);
		}

		@include mq($from: admin-bar) {
			min-height: calc(100vh - 6rem - 32px);
		}
	}
}

/* Margins */

.remove-margin-bottom {
	margin-bottom: 0 !important;
}

.has-margin-bottom {
	margin-bottom: space(s) !important;
}

.has-margin-bottom-m {
	margin-bottom: space(m) !important;
}

/* Paddings */

.has-padding {
	padding: space(s);
}

.has-padding-section-m {
	padding: space(m) space(s) space(m);
}

.has-padding-section-l {
	padding: space(l) space(s) space(l);
}

/* Visibility */

.hide-phone {

	@include mq($until: phone) {
		display: none;
	}
}

.visible-phone {
	display: block;

	@include mq($from: phone) {
		display: none;
	}
}

.hide-tablet {

	@include mq($until: tablet) {
		display: none;
	}
}

.visible-tablet {
	display: block;

	@include mq($from: tablet) {
		display: none;
	}
}
