/**
* Genesis
*
*	- After Entry & Author Box
*	- Breadcrumbs
*	- Featured Content
*/

/* After Entry & Author Box
--------------------------------------------- */

.after-entry,
.author-box {
	margin-bottom: space(m);

	@extend %box-shadow-default;
}

.after-entry {
	padding: space(s);

	@include mq($from: tablet) {
		padding: space(inset-squish, s);
	}

	.widget-title {
		text-align: center;
	}

	.widget:last-of-type {
		margin-bottom: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.author-box {

	background: color(light, trans);
	padding: space(s);

	@include mq($from: tablet) {
		padding: space(inset-squish, s);
	}

	.author-box-title {
		padding-top: space(s);
	}

	.author-box-content {
		clear: both;
		float: left;
		padding-top: space(xs);

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* Breadcrumbs
--------------------------------------------- */

.breadcrumb {
	border-bottom: 1px solid color(border);
	margin-top: -1px; // Compensate border.
	margin-bottom: space(m);
	padding-bottom: space(s);

	@extend %font-size-s;
}

/* Featured Content
--------------------------------------------- */

.featured-content {

	.entry {
		border-bottom: 1px solid color(border);
		margin-bottom: calc(4rem - 1px); // Compensate border.
		padding: space(stack, s);

		&:last-of-type {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		img {
			height: space(xl);
			width: space(xl);

			@include mq($from: tablet) {
				height: space(l);
				width: space(l);
			}
		}

		a {

			&.alignleft,
			&.alignright {
				margin-bottom: 0;
			}
		}

		.entry-title {
			margin-bottom: 0;
		}

		.entry-content {

			@extend %font-size-s-break; // Break vertical rhythm.
		}
	}
}
