/* Genesis
--------------------------------------------- */

.after-entry,
.archive-description,
.author-box {
	margin-bottom: space(m);
}

.after-entry {
	padding: space(inset-squish, s);

	@extend %box-shadow-default;

	.widget:last-of-type {
		margin-bottom: 0;
	}
}

.breadcrumb {
	border-bottom: 1px solid color(border);
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: calc(4rem - 1px); // Compensate border.
	padding-bottom: space(m);
}

.archive-description,
.author-box {

	&:last-child {
		margin-bottom: 0;
	}
}
