/**
* Reset
*
*	- Box Sizing
*	- Float Clearing
*/

/* Box Sizing */

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

/* Float Clearing */

.author-box,
.clearfix,
.entry,
.entry-content,
.footer-widgets,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.widget,
.wrap,
.widget-area {

	@include clearfix;
}
