/* Tables
--------------------------------------------- */

table {
	border-spacing: 0;
	margin: space(stack, s);
	width: 100%;
}

th,
td {
	font-family: $base-font-sans;
	text-align: left;
}

th {
	background: color(light, trans);
	padding: 1rem;
}


td {
	border-bottom: 1px solid color(border);
	border-top: 0;
	padding: 1rem 1rem calc(1rem - 1px); // Compensate bottom border.
}
