/* Titles
--------------------------------------------- */

.entry-title,
.widget-title {

	a {
		color: color(dark, base);
		text-decoration: none;

		&:focus,
		&:hover {
			color: color(accent, base);
		}
	}
}
