/**
* Typography
*
*	- Typographical Elements
*	- Headings
*/

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: root-font-size(phone);

	@include mq($from: tablet) {
		font-size: root-font-size(tablet);
	}
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {

	> div { // Chrome fix.

		@extend %font-size-m;
	}
	background-color: color(light, soft);
	color: color(dark, strong);
	font-family: $base-font-serif;

	@extend %font-size-m;
	font-weight: 400;
	margin: 0;
}

a {
	color: color(accent, base);
	text-decoration: underline;
	transition: color $base-transition, background-color $base-transition;

	&:focus,
	&:hover {
		color: color(dark, strong);
		text-decoration: none;
	}
}

p {
	margin: space(stack, s);
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid color(border);
	margin-top: calc(2rem - 1px); // Compensate border.
	margin-bottom: space(s);
	clear: both;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: color(light, strong);
	color: color(dark, strong);
}

blockquote {
	margin: space(s);
	position: relative;

	&::before {
		content: "\201C";
		position: absolute;
		display: block;

		@extend %font-size-xl;
		left: -(space(s));
		top: -(space(xs));
	}
}

label,
.small {

	@extend %font-size-s;
}

label {
	font-family: $base-font-sans;

	.required {
		color: color(danger, base);
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font-sans;
	margin: space(stack, s);
}

h1 {

	@extend %font-size-xxl;
}

h2 {

	@extend %font-size-xl;
}

h3 {

	@extend %font-size-l;
}

h4 {

	@extend %font-size-m;
}

h5 {

	@extend %font-size-s;
}

h6 {

	@extend %font-size-xs;
}
