/* WordPress
--------------------------------------------- */

.aligncenter {
	text-align: center;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

.alignnone {
	margin: space(stack, s);
}

img {
	max-width: 100%;

	&.alignleft {
		margin: space(right-bottom, s);
	}

	&.alignright {
		margin: space(left-bottom, s);
	}

	&.alignnone {
		margin-bottom: space(s);
	}

	&.centered,
	&.aligncenter {
		display: block;
		margin: 0 auto space(s);
	}
}

a {

	&.aligncenter {

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&.alignleft {
		margin: space(right-bottom, s);
	}

	&.alignright {
		margin: space(left-bottom, s);
	}

	&.alignnone {
		display: inline-block;
	}

	&.alignleft,
	a.alignnone,
	a.alignright {
		max-width: 100%;
	}
}

.wp-caption {

	&.alignleft {
		margin: space(right-bottom, s);
	}

	&.alignright {
		margin: space(left-bottom, s);
	}
}

.gallery-caption,
.wp-caption-text {
	font-weight: 700;
	margin: space(top, xxs);
	text-align: center;

	@extend %font-size-s-break; // Break vertical rhythm.
}

.entry-content {

	p {

		&.wp-caption-text {
			margin-bottom: 0;
		}
	}

	.wp-audio-shortcode,
	.wp-playlist,
	.wp-video {
		margin: space(stack, m);
	}
}
