/**
* WordPress
*
*	- Alignment
*	- Caption
*/

/* Alignment */

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignleft {
	float: left;
	margin-right: space(s);
	text-align: left;
}

.alignright {
	float: right;
	margin-left: space(s);
	text-align: right;
}

.alignnone {
	margin: space(stack, s);
}

/* Caption */

.wp-caption {

	&.aligncenter {
		margin-bottom: space(s);
	}
}

.gallery-caption,
.wp-caption-text {
	font-family: $base-font-sans;
	text-align: left;

	@extend %font-size-s;
}
